:root
{
    --dark-green-bg : #66BFBF;
    --light-green-bg:#ACDBDB;
    --black : #000;
    --white-bg : #fff;
    --footer: #11999E;
}

*, *::before, *::after  
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 100%;
}


body
{
    background-color: var(--white-bg);
    font-size: 15px;
}

/* Stying for column One */
.main-intro
{
    background: var(--dark-green-bg);
    border-bottom: 1px solid rgb(156, 155, 155);
}



.main-intro .intro
{
    padding: 4rem  0 0 0;
    text-align: center;
    padding-bottom: 2rem;
}
.intro h1
{
    font-size: 4.7rem;
    color: #fff;
    font-family: "Sacramento", cursive;
    
}

.intro p
{
    font-size: 17px;
    
}

.about
{
     display: flex;
     justify-content: space-around;
     padding: 100px 5px;
     
     
}
.about img 
{
    
    text-align: center;
}
.about div
{
        text-align: center;
        
}

.about h3
{
    font-size: 28px;
    color: #fff;
    line-height: 3rem;
    text-align: center;
}

.about p
{
    font-size: 17px;
    line-height: 2rem;
    text-align: center;
}
/* End Of Column Main intro */


.my-skills
{
    text-align: center;
    margin: 3rem 0;
}
.my-skills h1
{
    color: var(--dark-green-bg);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.my-skills h4
{
    color: #0c6a6d;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.my-skills p
{
    margin-bottom: 2rem;
    font-size: 1rem;
}
/* End Of Column My-Skills */

.services
{
    background-color: var(--light-green-bg);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(156, 155, 155);
    border-bottom: 1px solid rgb(156, 155, 155);

}

.services h1
{
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: var(--dark-green-bg);
}

.services p 
{
    font-size: 20px;
    line-height: 1.4;
}

.services ul
{
    margin-bottom: 3rem;
}
.services ul li
{
    line-height: 2.5rem;
    font-size: 18px;
}

/* End Of Column Services */


.contact-us h1
{
    text-align: center;
    color: var(--dark-green-bg);
    margin-top: 3rem;
}

.contact-us h4
{
    text-align: center;
    color: var(--footer);
    margin-top: 0.7rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.contact-us .form
{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    line-height: 2rem;
}

.form .name
{
    text-align: center;
}

.form .email
{
    text-align: center;
}
.form .radio-checklist
{
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    margin-top: 2rem;
}

/* .radio-checklist .radio
{
    padding-left: 2rem;
} */

.radio-checklist .chcklist
{
    padding-right: 7rem;
}

.form .comment
{
    text-align: center;
    margin-top: 2rem;
}

.form .submit-btn
{
    text-align: center;
    margin: 2rem;
}
.btn
{
    padding: 1rem 1.5rem;
    background-color: #11999E;
    color: #fff;
    border: none;
    border-radius: 5px;
}
/* End Of Column Contact Us */

.footer
{
    background-color: var(--footer);
    text-align: center;
}

.footer .link
{
    padding: 2rem 1rem;
}

.link a
{
    font-size: 16px;
}
.link .link-b
{
    color: rgb(87, 4, 165);
}

.copyright
{
    font-size: 18px;
}
/* End Of Column Footer */



@media screen and (max-width: 768px) and (min-width: 470px)
{
 

    .intro h1
    {
        font-size: 3rem;
    }

    .about
    {
       justify-content: center;
       padding: 30px;
    }
    .about div 
    {
        padding-left: 40px;
        
    }

    .about p 
    {
        font-size: 13px;
    }
}